div.clearfix {
	float: none;
	clear: both; }
 
body {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	color: #000;
	background: url('../img/background_image.png') repeat right top; }

#wrapper{
	max-width: 1200px;
	margin: 0 auto 0 auto; }

#search {
	width: 80%;
	margin: 0 auto;
	min-height: 30px;
	background-color: #DDD;
	padding: 30px; 
	background: -webkit-linear-gradient(#BDBDBD, #FFF); /* For Safari */
	background: -o-linear-gradient(#BDBDBD, #FFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#BDBDBD, #FFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#BDBDBD, #FFF); /* Standard syntax */ }

#search_content{
	display:inline; }

#show_waiting_message {
	position: absolute;
	display: none; 
	z-index: 1000 }

#show_product {
	width: 700px;
	height: 600px;
	display: none;
	padding: 20px;
	text-align: center; }
 
	#show_product_images img { margin: 0 10px; }
 
#show_product_title {
	color: #0B615E;
	display: block;
	font: italic bold 23px/23px Georgia,serif;
	margin-top: 10px;
	text-decoration: underline; }
 
#show_product_description {
	margin: 10px auto;
	display: block;
	font: italic bold 15px/18px Serif, arial, serif;
	word-wrap: break-word;
	padding: 0 20px; }
 
#show_product_rank {
	display: inline-block;
	width: 120px;
	height: 25px;
	padding: 5px 0;
	background-color: #A9E2F3;
	margin: 10px;
	border-radius: 10px; }
 
#show_product_views {
	display: inline-block;
	width: 120px;
	height: 25px;
	padding: 5px 0;
	background-color: #F6CEF5;
	margin: 10px 20px 0 0;
	border-radius: 10px; }
 
#show_product_price {
	display: inline-block;
	margin-top: 10px;
	font: italic bold 30px/20px Georgia, serif;
	color: #78c042; }

#show_product_currency {
	display: inline-block;
	margin-top: 15px;
	font: italic bold 15px/20px Georgia, serif;
	color: #78c042; }
  
#sort_content {
	display: inline;
	float: right; }
 
#pagination {
	padding: 30px 0 0;
	position: relative;
	height: 80px;
	clear: both;
	color: #666; }

#pages {
	display: none;
	width: 100px;
	list-style: none;
	margin: 0 auto;
	font-size: 1.2em;
	padding: 0 8px;
	position: relative;
	float: none; }

#pages li {
	float:left;
	margin: 0;
	font-weight: bold;
	display: inline;
	float: none;
	color: #0192b5;
	padding: 0 5px;
	text-decoration: none; }

#pages li:hover {
	text-decoration: underline; }	

#pages li.active {
	color: #333; }

.pagination_controls {
	width: 100px;
	margin: 0 auto; }

.prev, .next{
	float:left;
	width: 40px;
	height: 41px;
	text-indent: -999em;
	margin: .5px;
	overflow: hidden;
	width: 27px;
	height: 29px;
	margin: 0 4px; }

.prev{
	background: url(../img/btn-sprite.png) no-repeat 0 0; }

.prev:hover{
	background: url(../img/btn-sprite.png) no-repeat -28px 0;
	cursor:pointer; }

.prev:active{
	background: url(../img/btn-sprite.png) no-repeat -56px 0; }

.prev.disabled, .prev.disabled:hover, .prev.disabled:active{
	background: url(../img/btn-sprite.png) no-repeat -84px 0; }

.next{
	background: url(../img/btn-sprite.png) no-repeat 0 -30px; }

.next:hover{
	background: url(../img/btn-sprite.png) no-repeat -28px -30px;
	cursor:pointer; }

.next:active{
	background: url(../img/btn-sprite.png) no-repeat -56px -30px; }

.next.disabled, .next.disabled:hover, .next.disabled:active{
	background: url(../img/btn-sprite.png) no-repeat -84px -30px; }
 
#results {
	min-height: 600px;
	text-align: center; }
 
.product {
	position: relative;
	display: inline-block;
	width: 190px;
	height: 265px;
	margin: 20px;
	padding: 10px;
	border: solid 1px #CCC;
	border-radius: 10px;
	background-color: #FFF;
	text-align: center; }
 
.options {
	position: absolute;
	opacity: 0;
	width: 180px;
	height: 20px;
	background-color: #086A87;
	color: #FFF;
	right: 10px;
	padding: 5px;
	font-size: 14px; }
 
 .product:hover .options {
 	opacity: 1;
 	transition: opacity 1s; }

.option_view {
	float: left;
	text-decoration: none; 
	color: #FFF; }
 
.option_delete {
	float: right;
	text-decoration: none; 
	color: #FFF; }
 
.image {
	width: 190px;
	height: 190px; }
 
.title {
	display: block;
	font: italic bold 14px/20px Georgia, serif;
	text-align: center;
	margin-top: 5px;
	color: #0B615E; }
 
.description {
	display: block;
	font: italic bold 10px/13px Arial, serif;
	text-align: center;
	word-wrap: break-word; 
	height: 30px; }
 
.price {
	font: italic bold 15px/20px Georgia, serif;
	color: #78c042; }

.currency_code{
	font: italic bold 10px/20px Georgia, serif;
	color: #78c042; }

.option_left {
	float: left;
	text-decoration: none;
	color: #999; }
 
.option_right {
	float: right;
	text-decoration: none;
	color: #999; }

@media only screen and (max-width:530px) {
	#search {
		text-align: center; }
	#search_content{
		display:block; }
	#sort_content{
		display: inline-block;
		margin-top: 20px; 
		float: none; }
}
