<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="lib/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="lib/json2.js"></script>
		<script type="text/javascript" src="lib/underscore-min.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>

		<!-- Plantilla para mostrar un solo producto -->
		<textarea id="show-product-template" style="display:none">
			<div id="show_product_images">
				<img class="image" src="'<%= product.image %>'" />	
			</div>
			<span id="show_product_title">'<%= product.title %>'</span>
			<span id="show_product_description">'<%= product.description%>'</span>
			<div>
				<span id="show_product_rank">Rank # '<%= product.featured_rank %>'</span>
				<span id="show_product_views">Views: '<%= product.views %>'</span>
			</div>
			<div>
				<span id="show_product_price">$ '<%= product.price %>'</span>
				<span id="show_product_currency">'<%= product.currency_code %>'</span>
			</div>
			<div class="clearfix"></div>
		</textarea>	

		<!-- Plantilla para la aplicación -->
		<textarea id="single_product_template" style="display:none">
			<div class="product_content" id="'<%= product.listing_id %>'">
				<div class="options">
					<a class="option_view"  href="javascript:void(0);">View More</a>
					<a class="option_delete" href="javascript:void(0);">Delete</a>
				</div>
				<img class="image" src="<%= product.imageUrl %>" />
				<span class="title">'<%= product.shortTitle %>'</span>
				<span class="description">'<%= product.shortDescription %>'</span>
				<span class="price">'<%= product.price %>'</span>
				<span class="currency_code">'<%= product.currency_code %>'</span>
			</div>
		</textarea>	
		
		<div id="show_waiting_message"><img src="img/loading.gif"/></div>
		<div id="show_product"></div>
		<div id="wrapper">
			<div id="search">				
				<div id="search_content">
					<input type="text" id="search-text" name="search-text" />
					<button id="search_button">Search</button>
				</div>
				<div id="sort_content">
					<span id="sort_title">Sort By</span>
					<select id="sort_by">
						<option value="latest">Latest</option>
						<option value="relevance">Relevance</option>
						<option value="more_expensive">More Expensive</option>
						<option value="cheaper">Cheaper</option>
					</select>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="results">										
			</div>
			<div class="clearfix"></div>
			<div id="pagination">
				<ul id="pages">
					<li class="active">1</li>
					<li>2</li>
				</ul>
				<div class="pagination_controls">
					<div class="prev">Prev</div>
					<div class="next">Next</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</body>
</html>